<div id="carouselExampleIndicators" class="carousel slide animated fadeIn" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/FRA 6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/niña.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <div class="barra">
<span>{{titulo}}</span>
  </div>
  <div class="contenedor">
      <div id="imagen" class="imagen"><img src="../../../assets/banner-nosotros.jpg" alt=""></div>
      <div class="texto"><h1>Propósito</h1><p>Aprender sobre la reflexión permanente de la práctica institucional, nos ha permitido construir un camino para ACOMPAÑAR a las ORGANIZACIONES sociales en su consolidación, buscando el aumento de interacciones responsables con la comunidad, a través de acciones sin daño que posibiliten el aprendizaje de los actores involucrados para lograr FORTALECER Y DESARROLLAR SUS CAPACIDADES. Se busca facilitar elementos para que las instituciones comprendan, que sus acciones deben ser oportunas, efectivas y eficaces en el contexto con el que interactúan, para que motiven la creatividad, el aprendizaje del error y la sostenibilidad de sus iniciativas, es decir, para que tanto la comunidad como las organizaciones sociales obtengan el máximo beneficio.</p></div>
  </div>
