<div class="container animated fadeIn">
    <div class="imagen animated fadeInDown"><h3>Quienes Somos</h3></div>


<div class="fundador animated fadeInUp">
    <div class="rodrigo"><img src="../../../assets/fundador.jpg" alt=""></div>
    <div class="reseña"><h3>RODRIGO ARROYAVE ARANGO 1920-1993</h3><p>Nació en el año 1920 Municipio de Urrao  Departamento de Antioquia. Abandonó sus estudios de primaria, e inicia su actividad emprendedora en una ventana de su casa para poner una tienda. De allí se desplazaron a la ciudad de Medellín y empezó su operación de compras y ventas de alimento para aves y ganado. Y Posteriormente una multinacional le confió una distribución amplia en la que avanzo con incontenible empuje.</p></div>
  </div>
  
  <p class="fin"><span>Fin Social</span> El fin de la Fundación es la beneficencia mediante ayuda económica a instituciones o personas naturales dedicadas al servicio de la educación, el desarrollo social y/o la promoción cultural, científica, artística, ocupacional y empresarial, especialmente en apoyo de personas de escasos recursos o en su servicio. (Numeral 12 Articulo 359 E.T)</p>


  <div class="card">

<div class="estrategia"><div class="color"></div>
    <h3>Estrategia de Trabajo por Proyectos</h3>
    <p>Entendiendo que Los proyectos son Escenarios de Aprendizajes para TODOS los ACTORES, el apoyo financiero que se realiza previo estudio por un Comité, está dirigido a propuestas específicas de las organizaciones sociales que cumplan con los requisitos establecidos en el marco legal de las entidades adscritas al régimen especial y cuya solicitud este en coherencia con el mérito social que la caracteriza y este en la línea con los fundamentos de la entidad donante.
        Por medio del desarrollo de proyectos que sumen al quehacer institucional se busca contribuir a desarrollar y/o fortalecer las capacidades personales, organizacionales y sociales que posibilitan el que las personas beneficiarias logren construir alternativas para una mejor calidad de vida.
        </p>
</div>
<div class="principios">
    <h3>Los principios que guian nuestro accionar</h3>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h5>Relación entre sujetos</h5>
        <p>Todos son sujetos autónomos responsables de sí mismos y de su proceso de crecimiento, tienen potencialidades, capacidades, carencias y debilidades. Las personas son capaces de su transformación, la decisión del cambio nace del interés individual y es su responsabilidad.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <h5>Acción reflexiva.</h5>
          <p>Implica el análisis permanente del contexto en el que se desarrolla la acción y la capacidad de flexibilizar las estrategias para ser más pertinentes en la intervención. Se deben contemplar todas los elementos y actores involucrados o que influencian el territorio en el que se interviene.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <h5>Orientación al aprendizaje permanente de todos los actores.</h5>
          <p>Se busca que exista motivación e interés por conocer nuevas o diferentes formas de interactuar con la comunidad, reconocer aciertos y dificultades. Requiere compromiso para trascender los aprendizajes del discurso a la acción.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <h5>Acción pertinente, viable y sin daño.</h5>
          <p>Las comunidades se apropian de los procesos que las apoyan, los adaptan y transforman a su realidad. Se trata de que las instituciones brinden herramientas para que con los recursos existentes puedan encontrar alternativas posibles y adecuadas para su desarrollo social.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <h5>Orientación al impacto.</h5>
          <p>Proyección de sus acciones y resultados a corto, mediano y largo plazo. Involucra planeación y evaluación de manera permanente partiendo de los resultados y/o efectos que se estén generando.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <h5> Orientación a la sostenibilidad.</h5>
          <p>Entendida como el desarrollo de capacidades para que las acciones que se realizan además de ser coherentes con su misión institucional, tengan las condiciones para mantenerse en el tiempo, esto exige de las organizaciones sociales creatividad, recursividad y compromiso.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <h5>Trabajo en alianzas.</h5>
          <p>Se buscan las fortalezas de las Organizaciones sociales y las personas para que sumen a otros procesos y a su vez se enriquezcan de nuevas prácticas.</p>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
</div>
</div>