.navbar-brand{
    width: 17%;
    margin-left: 50px;
    min-width: 120px;
    max-width: 230px;
}

.navbar-brand img{
    width: 100%;
}

.navbar-nav{
    /* margin-left: 300px; */
    font-size: 1.2rem;
    font-weight: bold;
    
}

.navbar-nav{
    position: absolute;
    right: 40px;
}

@media screen and (max-width: 991px){
    .navbar-nav{
        position:initial;
        
    }
    
}
 @media screen and (max-width: 600px){
    .navbar-brand{
       margin-left: 10px;
        
    }
    
} 