<div class="container animated fadeIn">
    <div class="imagen animated fadeInDown"><h3>Centro de Recursos</h3></div>
    <hr>
    <div class="categoria">
    <div class="categorias">
        <div class="titulo animated fadeInLeft " id="primero"><h3>Información tributaria </h3></div>
        <div class="documento animated fadeInRight">
            <a href="../../../assets/2019.zip" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">2019</button></a>
            <a href="../../../assets/2020.zip" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">2020</button></a>
            <a href="../../../assets/2021.zip" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">2021</button></a>
            <a href="../../../assets/2022.zip" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">2022</button></a>
        </div>
    </div>
    <!-- <hr>
    <div class="categorias">
        <div class="titulo animated fadeInLeft " id="primero"><h3>Informes Anuales</h3></div>
        <div class="documento animated fadeInRight">
        <a href="../../../assets/Certificacion de cumplimiento 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Certificación de cumplimiento 2019</button></a>
        <a href="../../../assets/Certificado pagos directivos 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Certificado pagos directivos 2019</button></a>
        <a href="../../../assets/Informe de Gestión 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Informe de gestión 2019</button></a>
        <a href="../../../assets/Informe gestión fundacion 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Informe gestión fundacion 2019</button></a>
        <a href="../../../assets/Informe Revisor Fiscal 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Informe Revisor Fiscal 2019</button></a>
        <a href="../../../assets/Informe de Gestion 2021.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Informe de gestión 2021</button></a>
        </div>
    </div> 
    <hr>
    -->
    <!-- <div class="categorias">
        <div class="titulo animated fadeInLeft"><h3>Estados Financieros</h3></div>
        <div class="documento animated fadeInRight">
            <a href="../../../assets/Estados Financieros 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Estados financieros 2019</button></a>
            <a href="../../../assets/NOTAS ESTADOS FINANCIEROS 2.019-1.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Notas estados financieros</button></a>
            <a href="../../../assets/Memoria economica 2019.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Memoria económica 2019</button></a>
            <a href="../../../assets/PRESUPUESTO 2020.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Presupuesto 2020</button></a>
            <a href="../../../assets/Certificacion de los Estados Financieros 2021.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Certicados 2021</button></a>
            <a href="../../../assets/Estados Financieros bajo Normas NIIF-2021.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Estados financieros 2021</button></a>
            <a href="../../../assets/Dictamen del Revisor Fiscal 2021.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Dictamen 2021</button></a>
            <a href="../../../assets/Notas a los Estados Financieros 2021.pdf" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Notas financieros 2021</button></a>
        </div>
    </div>
        -->
    <hr>
    <div class="categorias">
        <div class="titulo animated fadeInLeft"><h3>Formatos Institucionales</h3></div><div class="documento animated fadeInRight">
            <a href="../../../assets/OrientacionesProyectos-FundacionRodrigoArroyave.docx" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Formatos proyectos</button></a>
            <a href="../../../assets/GuiaInformeFinal.doc" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Guía informe final</button></a>
            <a href="../../../assets/PistasInformeDeSeguimiento.doc" target="_blank"><button type="button" class="btn"><img src="../../../assets/Icono descarga.png" alt="">Formatos informes de seguimiento</button></a>
        </div>
    </div>
    <hr> 
    <div class="categorias">
        <div class="titulo animated fadeInLeft"><h3>Requisitos DIAN</h3></div>
        <div class="documento animated fadeInRight">El público objetivo de nuestra organización son Organizaciones Sin Ánimo de Lucro, que se encuentren legalmente constituidas y que cumplan con los siguientes requisitos:

            <li> Representación Legal Actualizada.</li>
            <li> Rut Actualizado.</li>
            <li> Declaración de Renta de los dos últimos años.</li>
            <li> Certificación de la Presentación de la Solicitud de Permanencia en el Régimen Especial del año en curso.</li>
            <li>Formato 5245 de la DIAN.</li>
            Estos documentos deben ser presentados cada vez que una organización presente una solicitud para estudio.            
            </div>
    </div>
</div>
    <hr>
    <div class="imagen2"><img src="../../../assets/manos2.jpg" alt=""></div>
</div>
