<div class="container animated fadeIn">
    <div class="imagen animated fadeInDown"><h3>Conectados FRA</h3></div>
    <div class="circulos"><img src="../../../assets/circulos.png" alt=""></div>
    <div class="parrafo animated fadeInLeft"><p>Buscando promover el desarrollo de capacidades técnicas y la implementación de prácticas sociales solidarias entre las organizaciones sociales, se impulsa y desarrollan, no solo procesos de formación acordes a las necesidades de las instituciones, sino que se ha constituido RED que facilita la solidaridad entre las organizaciones sociales.<br><br>
        El principio básico sobre el que se fundamenta esta RED es que, Todos tenemos algo que aportar y algo que aprender.
        Este ejercicio se realiza a través de un grupo de WhatsApp, el cual es administrado por la coordinación de proyectos de la Fundación, para hacer parte de este espacio deberán tener en cuenta:
		<br><br>
        <li>
            La información que allí se comparte es responsabilidad de la entidad o persona que lo realiza, por ello deberá verificar su veracidad y pertinencia antes de publicarla en el grupo.
        </li>
		<br>
    <li>
        No es un espacio para debates, políticos, religiosos, ni tampoco es un grupo de opinión, por ello cadenas y/o mensajes con contenidos como los anteriormente programados, no están permitidos.
    </li>
	<br>
    <li>
        Las alianzas, donaciones y demás gestiones que allí se concreten deberán ser coordinadas por las partes interesadas y en ningún momento compromete el quehacer de la Fundación Rodrigo Arroyave.
    </li>
	<br>
    Si es de su interés vincularse a este espacio, deje sus datos en el formulario de contáctanos y en los comentarios indique que es de su interés participar en la RED conectados FRA, deje su número celular y los datos de la entidad que representa.
</p>
</div>

<div class="frase">El conocimiento y la información es para compartir así... todos aprendemos.</div>

<div class="agradecimientos">
	<h3>Agradecimientos</h3>
    <img src="../../../assets/sopa de letras.png" alt="">
</div>
<div class="agradecimientos">
	<h3>Día especial</h3>
	<img src="../../../assets/dia de la mujer.png" alt="">
</div>

<div class="boletin">
	<img src="../../../assets/boletin.jpg" alt="">
</div>

<div><h3>Instituciones participantes</h3>
</div>

<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="../../../assets/Logo 1.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 2.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 3.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 4.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 5.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 6.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 7.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 8.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 9.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 10.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 11.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 12.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 13.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 14.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 15.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 16.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 17.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 18.png" alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/Logo 19.png" alt="" />
		</div>
	</div>
</div>